.form-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 50px auto;
}
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.input-section {
  display: flex;
  flex-direction: column;
}
.form .button {
  display: flex;
  justify-content: flex-end;
  grid-column: 2;
}
.form .button button {
  color: #fff;
  width: 50%;
  height: 24px;
  background-color: black;
  font-size: 14px;
  border: none;
}
